#root {
  min-height: 100dvh;
  min-height: 100vh;
  padding: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: fit-content !important;
}

.product-card {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.product-card:hover {
  /* filter: brightness(90%);
  transform: scale(1.05); */
  /* transform: rotate(10deg); */
}

.Text {
  font-size: 20px;
  font-weight: 600;
}

.Airtribe {
  color: #533298;
}

.Buy {
  color: #F76707;
}

.wishlist-button-container {
  /* display:contents; */
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.mantine-Chip-label span{
  display: contents;
  color: #F76707;
}

.custom-chip-icon {
  color: red; 
  font-size: 24px; 
  margin-right: 10px; 
}

.product-card:hover .wishlist-button-container {
  opacity: 1;
}
